body {
    min-width: fit-content;
    overflow-x: hidden;
    animation: transitionIn 1s;
    -moz-animation: transitionIn 1s;
    -webkit-animation: transitionIn 1s;
    -o-animation: transitionIn 1s;
    /* animation: fadein 2s;
    -moz-animation: fadein 2s; 
    -webkit-animation: fadein 2s; 
    -o-animation: fadein 2s;  */
}

.header {
    overflow: hidden;
    /* background: #4786E5; */
    padding: 20px 10px;
    border-bottom: 1px solid #6398E9;

}


.header a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-weight: 700;
}

.header img {
    border: 0;
    float: left;
    width: 7.5rem;
    height: 5rem;
    /* background-image: url('../imgs/nav-logo.png'); */
}


.header a.logo {
    font-size: 25px;
    font-weight: bold;
}


.header a:hover {
    background-color: #ddd;
    color: black;
}


.header a.active {
    background-color: dodgerblue;
    color: white;
}


.header-right {
    float: right;
    text-align: center;
    margin-top: 1rem;
}

.requestbtn {
    text-align: center !important;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.3em;
    color: #3E4098 !important;
    padding: 7px;
    width: 10.2em;
    background-color: #FFFFFF !important;
}


.hrefbtn {
    float: none !important;
    text-align: center !important;
    font-weight: 700;
    font-size: 1.3em;
    color: #3E4098 !important;
}

.requestbtn a:hover {
    background-color: transparent;
}



.banner {
    height: 900px;
}


.banner-background {
    width: 100%;
    height: 100%;
    background-image: url('../imgs/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.headerText {
    text-align: center;
    color: #ddd;
    padding-top: 2rem;
}

.headerTag {
    text-align: -webkit-center;
    margin: inherit;
    font-size: 70px;
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.section {
    min-width: fit-content;
}

.learn-more-btn {
    text-align: -webkit-center;
    margin: inherit;
    border-color: #FFFFFF !important;
    color: #FFFFFF !important;
    font-weight: bold;
    letter-spacing: 0px;
    border-radius: 20px;
    background: transparent;
    font-style: normal;
    font-size: 18px;
    width: 11rem;
    height: 3rem;
}

.section2-expertise {
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 0px;
    color: #333333
}

.section2-paragraph {
    font-style: normal;
    font-size: 18px;
    color: #333333;
    letter-spacing: 0px;
}

.text-digipep {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0px;
    color: #333333;
}

.text-resibo {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0px;
    color: #333333;
}

.digipep-desc {
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    color: #333333;
    font-size: 18px;
}

.resibo-desc {
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    color: #333333;
    font-size: 18px;
}

.section3-bg {
    width: 100vh;
    height: 546px;
    background-image: url('../imgs/bg-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.section3-bg1 {
    /* min-width:fit-content; */
    /* width: 100vh; */
    /* width: 100%; */
    height: 546px;
    background-image: url('../imgs/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.section3-text-Implementation {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 5em;
}

.Implementation-desc {
    width: auto;
    text-align: center;
    /* margin-left: 7rem; */
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.desc-container {
    margin: auto;
}


.section2-span {
    color: #003399;
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0px;
}

.section3 {
    border-bottom: 0.5px solid rgba(255, 255, 255, .3);
}

* {
    padding: 0px;
    margin: 0px;
}

.footer-bg {
    /* min-width:max-content; */
    /* max-width: 100vw; */
    /* width: 100%; */
    height: 1300px;
    background-image: url('../imgs/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: contain; */

}

/* .section-content{
    width: 100%;
    height: 1550px;
    background-image: url('../imgs/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */

.section-content {
    width: 100vw;
}

.req-demo {
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.demo-fill {
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
}


.footer-logo {
    width: 10rem;
}

.footer-text {
    font-size: 14px;
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.card {
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    padding: 30px;

}

.schedbtn {
    background-color: #3E4098 !important;
    border-radius: 5px;
    width: 34rem;
    height: 4rem;

}


@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }

}

@media screen and (max-width: 425px) {
    .headerTag {
        font-size: 50px;
    }

    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }

    .card {
        margin-left: auto;
        margin-right: auto;
        width: 24rem;
        padding: 30px;

    }

    .schedbtn {
        background-color: #3E4098 !important;
        border-radius: 5px;
        width: 18rem;
        height: 4rem;

    }

}

@media screen and (max-width: 375px) {

    .card {
        margin-left: auto;
        margin-right: auto;
        width: 21rem;
        padding: 30px;

    }

    .schedbtn {
        background-color: #3E4098 !important;
        border-radius: 5px;
        width: 12rem;
        height: 4rem;

    }


}


@media screen and (max-width: 320px) {

    .card {
        margin-left: auto;
        margin-right: auto;
        width: 15rem;
        padding: 30px;

    }

    .schedbtn {
        background-color: #3E4098 !important;
        border-radius: 5px;
        width: 9rem;
        height: 4rem;

    }


}



@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@-moz-keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}


@-webkit-keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}


@-o-keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}



/* @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
} */
