
  .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start !important;
    background-color:#3E4098;
    /* background-image: url('../imgs/product-header.png');
    background-repeat: no-repeat;
    background-size: cover; */
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.requestbtn {
    text-align: center !important;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 0.9em;
    color: #3E4098 !important;
    padding: 7px;
    width: 13.2em;
    background-color: #FFFFFF !important;
}


@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
        /* top:45%; */
        margin-top: 2rem;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        z-index: 9999;
        display: inline-block;
    }
}